@page
@model PayrollLite.Pages.Dashboard.IndexModel
@{
    Layout = "_MainLayout";
    ViewData["Title"] = "Dashboard";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="col-xl">
            <h4 class="fw-bold py-3 mb-1">@ViewData["Title"]</h4>
            <div class="alert alert-info" role="alert">
                <span>App dashboard under constructions...</span>
            </div>
        </div>
    </div>
</div>
