@page
@model PayrollLite.Pages.MonthsOfYear.CreateModel
@{
}
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="card">
        <div class="card-header">
            <h2>New Month of Year</h2>
            <small>Fields marked with an asterisk(*) are required.</small>
        </div>
        <div class="card-body">
            <input asp-for="Vm.RecordedBy" value="System" hidden />

            <div class="mb-3">
                <label asp-for="Vm.Name" class="form-label">Name*</label>
                <input asp-for="Vm.Name" type="text" class="form-control">
                <span asp-validation-for="Vm.Name" class="text-danger" />
            </div>
            <div class="mb-3">
                <label asp-for="Vm.Abbreviation" class="form-label">Abbreviation *</label>
                <input asp-for="Vm.Abbreviation" type="text" class="form-control">
                <span asp-validation-for="Vm.Abbreviation" class="text-danger" />
            </div>
            <div class="mb-3">
                <label asp-for="Vm.Number" class="form-label">Number *</label>
                <input asp-for="Vm.Number" type="text" class="form-control">
                <span asp-validation-for="Vm.Number" class="text-danger" />
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-lg btn-primary"><i class="bi bi-download"></i> Save</button>
            <a asp-page="Index" class="btn btn-lg btn-secondary">Cancel</a>
        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}

