@page
@model PayrollLite.Pages.MonthsOfYear.CreateModel
@{
    Layout = "_MainLayout";
    ViewData["Title"] = "Month of Year";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <!-- Basic Layout & Basic with Icons -->
    <div class="row">
        <!-- Basic Layout -->
        <div class="col-xxl">
            <h4 class="fw-bold py-3 mb-1">Create  @ViewData["Title"]</h4>
            <div class="card mb-4">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <p class="mb-0">
                        <strong>Details </strong><br />
                        <small>Fields marked with an asterisk (<span class="text-danger">*</span>) are required.</small>
                    </p>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row mb-3">
                            <label asp-for="Command.Name" class="col-sm-2 col-form-label">Name<span class="text-danger">*</span> :</label>
                            <div class="col-sm-10">
                                <input asp-for="Command.Name" type="text" class="form-control" />
                                <span asp-validation-for="Command.Name" class="text-danger" />
                            </div>
                        </div>                        
                        <div class="row mb-3">
                            <label asp-for="Command.Abbreviation" class="col-sm-2 col-form-label">Abbreviation<span class="text-danger">*</span> :</label>
                            <div class="col-sm-10">
                                <input asp-for="Command.Abbreviation" type="text" class="form-control" />
                                <span asp-validation-for="Command.Abbreviation" class="text-danger" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label asp-for="Command.Number" class="col-sm-2 col-form-label">Number<span class="text-danger">*</span> :</label>
                            <div class="col-sm-10">
                                <input asp-for="Command.Number" type="text" class="form-control" />
                                <span asp-validation-for="Command.Number" class="text-danger" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-10 align-content-end">
                                <button type="submit" class="btn btn-primary"><span class="tf-icons bx bx-download"></span> Save</button>
                                <a asp-page="Index" class="btn btn-secondary"><span class="tf-icons bx bx-x"></span> Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}

