@page
@model PayrollLite.Pages.MonthsOfYear.DeleteModel
@{
}
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @if (Model.Vm is null)
    {
        <div class="alert alert-info">
            <p>No record with id:@Model.Id exist.</p>
        </div>
    }
    else
    {
        <div class="card">
            <div class="card-header">
                <h2>Delete Month of Year</h2>
                <small></small>
            </div>
            <div class="card-body">
                <input asp-for="Vm.Id" value="@Model.Id" hidden />

                <div class="mb-3">
                    <label asp-for="Vm.Name" class="form-label">Name*</label>
                    <label asp-for="Vm.Name" class="form-label">@Model.Vm.Name</label>
                </div>
                <div class="mb-3 row">
                    <label asp-for="Vm.Abbreviation" class="col-md-4 col-form-label">Abbreviation</label>
                    <label asp-for="Vm.Abbreviation" class="form-label">@Model.Vm.Abbreviation</label>
                </div>
                <div class="mb-3 row">
                    <label asp-for="Vm.Number" class="col-md-4 col-form-label">Number</label>
                    <label asp-for="Vm.Number" class="form-label">@Model.Vm.Number</label>
                </div>
                <div class="mb-3">
                    <div class="alert alert-danger">
                        <p>
                            You are about to delete this record. Note that this action
                            cannot be undone.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-lg btn-danger"><i class="bi bi-cross"></i> Delete</button>
                <a asp-page="Index" class="btn btn-lg btn-secondary">Cancel</a>
            </div>
        </div>
    }
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}