@page
@model PayrollLite.Pages.Employees.CreateModel
@{
    Layout = "_MainLayout";
    ViewData["Title"] = "Employee";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <!-- Basic Layout & Basic with Icons -->
    <div class="row">
        <!-- Basic Layout -->
        <div class="col-xxl">
            <h4 class="fw-bold py-3 mb-1">Create  @ViewData["Title"]</h4>
            <div class="card mb-4">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <p class="mb-0">
                        <strong>Details </strong><br />
                        <small>Fields marked with an asterisk (<span class="text-danger">*</span>) are required.</small>
                    </p>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <label asp-for="Command.FirstName" class="col-sm-4 col-form-label">First Name<span class="text-danger">*</span> :</label>
                                    <div class="col-sm-8">
                                        <input asp-for="Command.FirstName" type="text" class="form-control" />
                                        <span asp-validation-for="Command.FirstName" class="text-danger" />
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label asp-for="Command.MiddleName" class="col-sm-4 col-form-label">Middle Name :</label>
                                    <div class="col-sm-8">
                                        <input asp-for="Command.MiddleName" type="text" class="form-control" />
                                        <span asp-validation-for="Command.MiddleName" class="text-danger" />
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label asp-for="Command.LastName" class="col-sm-4 col-form-label">Last Name<span class="text-danger">*</span> :</label>
                                    <div class="col-sm-8">
                                        <input asp-for="Command.LastName" type="text" class="form-control" />
                                        <span asp-validation-for="Command.LastName" class="text-danger" />
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label asp-for="Command.GenderId" class="col-sm-4 col-form-label">Gender<span class="text-danger">*</span> :</label>
                                    <div class="col-sm-8">
                                        <select asp-for="Command.GenderId" asp-items="@Model.GenderList" class="form-control">
                                            <option selected value=""></option>
                                        </select>
                                        <span asp-validation-for="Command.GenderId" class="text-danger" />
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label asp-for="Command.BirthDate" class="col-sm-4 col-form-label">Birth Date<span class="text-danger">*</span> :</label>
                                    <div class="col-sm-8">
                                        <input asp-for="Command.BirthDate" type="date" class="form-control" />
                                        <span asp-validation-for="Command.BirthDate" class="text-danger" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <label asp-for="Command.EmailAddress" class="col-sm-4 col-form-label">Email Address:</label>
                                    <div class="col-sm-8">
                                        <input asp-for="Command.EmailAddress" type="text" class="form-control" />
                                        <span asp-validation-for="Command.EmailAddress" class="text-danger" />
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label asp-for="Command.PhoneNo" class="col-sm-4 col-form-label">Phone No.:</label>
                                    <div class="col-sm-8">
                                        <input asp-for="Command.PhoneNo" type="text" class="form-control" />
                                        <span asp-validation-for="Command.PhoneNo" class="text-danger" />
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label asp-for="Command.JobTitle" class="col-sm-4 col-form-label">Job Title<span class="text-danger">*</span> :</label>
                                    <div class="col-sm-8">
                                        <input asp-for="Command.JobTitle" type="text" class="form-control" />
                                        <span asp-validation-for="Command.JobTitle" class="text-danger" />
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label asp-for="Command.GrossSalary" class="col-sm-4 col-form-label">Gross Salary<span class="text-danger">*</span> :</label>
                                    <div class="col-sm-8">
                                        <input asp-for="Command.GrossSalary" type="text" class="form-control" />
                                        <span asp-validation-for="Command.GrossSalary" class="text-danger" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div style="float:right;">
                                <button type="submit" class="btn btn-primary"><span class="tf-icons bx bx-download"></span> Save</button>
                                <a asp-page="Index" class="btn btn-secondary"><span class="tf-icons bx bx-x"></span> Cancel</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}

